{% extends 'base.html.twig' %}

{% block title %}
	Livraison et SAV |
	{{ parent() }}
{% endblock %}

{# START: delivery_and_customer_service #}
{% block body %}
	<section class="page">
		<h2>Livraison et SAV</h2>
		<div class="neptune">
			<div class="term">
				<h3>Vous avez une question avant de passer votre commande ?</h3>
				<div class="term-customer-service">
					<h4 class="term__question term__question_color_blue">Où livrez-vous ?</h4>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
				</div>
				<div class="term-customer-service">
					<h4 class="term__question term__question_color_blue">Quels sont les frais de livraison de ma commande ?</h4>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
				</div>
				<div class="term-customer-service">
					<h4 class="term__question term__question_color_blue">Quels sont les délais de livraison ?</h4>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
				</div>
				<div class="term-customer-service">
					<h4 class="term__question term__question_color_blue">Quels sont les moyens de paiement proposés ?</h4>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
				</div>
				<h3>Vous avez une question concernant la livraison de votre commande ?</h3>
				<div class="term-customer-service">
					<h4 class="term__question term__question_color_blue">L’acheminement de mon colis est long, que dois-je faire ?</h4>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
				</div>
				<div class="term-customer-service">
					<h4 class="term__question term__question_color_blue">Ma commande a été renvoyée à l’expéditeur, que dois-je faire ?</h4>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
				</div>
				<h3>Vous avez une question à la suite de votre commande chez E-Shop ?</h3>
				<div class="term-customer-service">
					<h4 class="term__question term__question_color_blue">Je souhaite modifier ma commande, ajouter ou supprimer un produit, comment faire ?</h4>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
				</div>
				<div class="term-customer-service">
					<h4 class="term__question term__question_color_blue">Comment suivre ma commande ?</h4>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
				</div>
				<div class="term-customer-service">
					<h4 class="term__question term__question_color_blue">Le livreur veut me remettre un colis endommagé, que faire ?</h4>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
				</div>
				<div class="term-customer-service">
					<h4 class="term__question term__question_color_blue">J’ai accepté un colis dont un ou plusieurs produits sont endommagés, que dois-je faire ?</h4>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
				</div>
				<div class="term-customer-service">
					<h4 class="term__question term__question_color_blue">Ma commande est arrivée incomplète, que faire ?</h4>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
				</div>
				<div class="term-customer-service">
					<h4 class="term__question term__question_color_blue">Comment retourner un produit ?</h4>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
				</div>
				<div class="term-customer-service">
					<h4 class="term__question term__question_color_blue">Comment obtenir la facture de ma commande ?</h4>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
				</div>
				<h3>Vous souhaitez obtenir plus d'informations concernant votre compte client ?</h3>
				<div class="term-customer-service">
					<h4 class="term__question term__question_color_blue">Je n’arrive pas à me connecter à mon compte client, comment faire ?</h4>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
				</div>
				<div class="term-customer-service">
					<h4 class="term__question term__question_color_blue">Je souhaite supprimer mon compte client, comment faire ?</h4>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
					<p class="display-none">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus, saepe, et ducimus natus consequuntur, reiciendis dolorum quod iusto autem eos voluptatum. Similique ipsam commodi assumenda facere quaerat molestiae veritatis doloremque!</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{# END: delivery_and_customer_service #}
