{% extends 'base.html.twig' %}

{% block title %}
	Fixture |
	{{ parent() }}
{% endblock %}

{# START: fixture #}
{% block body %}
	<section class="page">
		<h2>Fixture</h2>

	</section>
{% endblock %}
{# END: fixture #}
