{% extends 'base.html.twig' %}

{% block title %}
	Mentions Légales |
	{{ parent() }}
{% endblock %}

{# START : legal_notices #}
{% block body %}
	<section class="page">
		<h2>Mentions Légales</h2>
		<div class="neptune">
			<div class="term">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dignissimos similique sint atque accusantium, quo eos molestias esse perspiciatis aut ullam deserunt adipisci! Provident deleniti iure illum dolor nisi ipsum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, amet alias nostrum, nulla dolorum similique molestiae magnam dicta eum ea expedita tenetur distinctio eius optio, commodi inventore sed aliquid aspernatur.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dignissimos similique sint atque accusantium, quo eos molestias esse perspiciatis aut ullam deserunt adipisci! Provident deleniti iure illum dolor nisi ipsum!</p>
			</div>
		</div>
	</section>
{% endblock %}
{# END : legal_notices #}
