{% extends 'base.html.twig' %}

{% block title %}
	Commande - paiement |
	{{ parent() }}
{% endblock %}

{# START: purchase_checkout #}
{% block body %}
	<section class="page">
		<h2>Paiement</h2>
		<form action="/create-checkout-session.php" method="POST">
			<button type="submit" id="checkout-button">Payer</button>
		</form>
	</section>
{% endblock %}
{# END: purchase_checkout #}

{% block javascripts %}
	{{ parent() }}
	<script src="https://js.stripe.com/v3/"></script>
{% endblock %}
